<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group">
    <label for="name">Character name</label>
    <input type="text"
      name="name"
      id="name"
      class="form-control"
      ngModel
      required
      #name="ngModel">
    <span class="help-block" *ngIf="isInvalid(name)">Please inform a name!</span>
  </div>
  <div class="form-group">
    <select name="side" id="side" class="form-control" ngModel>
      <option *ngFor="let side of availableSide" [value]="side.value">
        {{ side.display }}
      </option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Add character</button>
</form>
